<h4> For checking how many times below code execute, pls check console <br> </h4>
<app-child *ngFor="let _user of users" [user]="_user"></app-child>
<hr>
<strong>Parent</strong>
<br>
>> even if you are enter any text in below input, also effect in child comps, pls check console,
even this not effect on child anything, it's just change for parent comp
<br>
<input type="text" (keyup)="onTyped($event)" placeholder="Enter something">
<br>
<br>
<button type="button" (click)="changeArr()">Change Data</button>